<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>TD-LABS</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string></string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1231712267766270</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>1231712267766270</string>
	<key>FacebookClientToken</key>
	<string>7bb4a6c16693e72b3546c1f93595695b</string>
	<key>FacebookDisplayName</key>
	<string>TD Labs</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram-stories</string>
		<string>facebook-stories</string>
		<string>facebook</string>
		<string>instagram</string>
		<string>twitter</string>
		<string>whatsapp</string>
		<string>tg</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>9</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>test.qiaolz.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>tdlabs app access music uploading details</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>俏郎中SDK需要访问您的蓝牙信息才能连接智能检测设备，开启检测</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>We need Bluetooth access to connect to external devices.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>tdlabs app need calendars access to save appoinment </string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs camera access to scan QR codes</string>
	<key>NSContactsUsageDescription</key>
	<string>tdlabs app need contact access to save contact details</string>
	<key>NSHealthShareUsageDescription</key>
	<string>tdlabs will sync your data with the Apple Health app to give you better insights</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>tdlabs will sync your data with the Apple Health app to track your health goals</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>tdlabs app need location when in use access to locate neareast point of care services</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>tdlabs app need location when in use access to locate neareast point of care services and vending machine</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>tdlabs app need location when in use access to locate neareast point of care services</string>
	<key>NSMotionUsageDescription</key>
	<string>tdlabs app need motion access for potrait mode display rotation only</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Share the downloaded PDF</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>tdlabs app need photo library access to upload image documents</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>tdlabs app not accessing speech recognition access</string>
	<key>UIApplicationMain</key>
	<dict>
		<key>NSPrincipalClass</key>
		<string>AppDelegate</string>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>external-accessory</string>
		<string>fetch</string>
		<string>nearby-interaction</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<string>YES</string>
	<key>kTCCServiceMediaLibrary</key>
	<string>tdlabs app access music uploading details</string>
</dict>
</plist>
